In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Namibe,AO,2020-11-03 18:21:57,-15.20,12.15,71.11,66,1,9.19
1,1,Labuan,MY,2020-11-03 18:21:58,5.28,115.24,78.80,94,40,3.53
2,2,Ushuaia,AR,2020-11-03 18:21:58,-54.80,-68.30,51.80,66,75,4.70
3,3,Sassandra,CI,2020-11-03 18:21:58,4.95,-6.08,80.19,80,0,7.34
4,4,Sumbe,AO,2020-11-03 18:21:58,-11.21,13.84,77.83,86,24,8.03

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=7)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=7)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Labuan,MY,2020-11-03 18:21:58,5.28,115.24,78.80,94,40,3.53
3,3,Sassandra,CI,2020-11-03 18:21:58,4.95,-6.08,80.19,80,0,7.34
4,4,Sumbe,AO,2020-11-03 18:21:58,-11.21,13.84,77.83,86,24,8.03
5,5,Hithadhoo,MV,2020-11-03 18:21:58,-0.60,73.08,81.81,77,100,10.38
6,6,Georgetown,MY,2020-11-03 18:21:59,5.41,100.34,77.00,94,20,4.70
9,9,Trincomalee,LK,2020-11-03 18:21:59,8.57,81.23,81.36,79,79,3.67
14,14,Cayenne,GF,2020-11-03 18:19:20,4.93,-52.33,86.00,62,75,11.41
16,16,Hilo,US,2020-11-03 18:22:01,19.73,-155.09,78.80,74,20,4.70
21,21,Jiwani,PK,2020-11-03 18:22:02,25.05,61.74,75.99,74,0,9.69
25,25,Avarua,CK,2020-11-03 18:22:03,-21.21,-159.78,75.20,83,96,10.29

In [24]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [25]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
1        Labuan      MY     78.80   5.28  115.24
3     Sassandra      CI     80.19   4.95   -6.08
4         Sumbe      AO     77.83 -11.21   13.84
5     Hithadhoo      MV     81.81  -0.60   73.08
6    Georgetown      MY     77.00   5.41  100.34
9   Trincomalee      LK     81.36   8.57   81.23
14      Cayenne      GF     86.00   4.93  -52.33
16         Hilo      US     78.80  19.73 -155.09
21       Jiwani      PK     75.99  25.05   61.74
25       Avarua      CK     75.20 -21.21 -159.78

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng                  Hotel Name
1        Labuan      MY     78.80   5.28  115.24          Tiara Labuan Hotel
3     Sassandra      CI     80.19   4.95   -6.08                 la terrasse
4         Sumbe      AO     77.83 -11.21   13.84            Hotel Ritz Sumbe
5     Hithadhoo      MV     81.81  -0.60   73.08           Scoop Guest House
6    Georgetown      MY     77.00   5.41  100.34              Cititel Penang
9   Trincomalee      LK     81.36   8.57   81.23              Welcombe Hotel
14      Cayenne      GF     86.00   4.93  -52.33             Hôtel Le Dronmi
16         Hilo      US     78.80  19.73 -155.09         Hilo Hawaiian Hotel
21       Jiwani      PK     75.99  25.05   61.74  Al Mumtaz Transport Jiwani
25       Avarua      CK     75.20 -21.21 -159.78                Paradise Inn

In [38]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 25.0), zoom_level=1.1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))